{% extends 'common/base.html' %}

{% block title %}
    Nako | Home
{% endblock title %}

{% block meta %}
    <meta property="og:url"                content="{{ request.build_absolute_uri }}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Nako comics East Africa" />
    <meta property="og:description"        content="The best comics books from Kenya, East Africa and Africa" />
    <meta property="og:image"              content="" />
{% endblock meta %}
    

{% block body %}

    <div class="container">
        <h2>Latest titles on Nako</h2>

        <div class="col s6 m4 l4">
            {% for s in home_series %}
                <div class="">
                    <div class="card home">
                        <div class="card-image">
                            {% if s.cover %}
                                <img class="materialboxed" src="{{s.cover.url}}"/>
                            {% endif %}
                        </div>
                        <a class="white-text" href="{% url 'comics:series_detail' s.slug s.id %}">
                            <div class="card-content">
                                <h6>{{s.title}}<h6>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock body %}
    
