{% extends 'common/base.html' %}

{% block title %}
    Nako | Home
{% endblock title %}

{% block meta %}
    <meta property="og:url"                content="{{ request.build_absolute_uri }}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Nako comics East Africa" />
    <meta property="og:description"        content="The best comics books from Kenya, East Africa and Africa" />
    <meta property="og:image"              content="" />
{% endblock meta %}
    

{% block body %}

    <div class="container">
        <h2>Latest titles on Nako</h2>

        <div class="profile2 row">
            {% if user.is_authenticated %}
                <div class="white-text">
                    {% if user.profile.header %}
                    <img class="img-fluid" src="{{ user.profile.header.url}}">
                    {% endif %}
                    
                    <div class="">
                        <a href="{% url "userprofile:user-profile" user %}">
                            <img class="circle responsive-img" src="{{ user.profile.avatar.url }}" alt="Profile pic">
                        </a>
                        <div class="">
                            <h5 class="">
                                {{ user.get_full_name }} 
                                {% if user.is_staff is True %}<i class="img-circle" aria-hidden="true"></i>{% endif %} 
                                <small id="">@{{ user.username }}</small>
                            </h5>
                            <small>
                                <p><a href="{% url "comics:comic-series-add" %}">Add Series</a></p>
                            </small>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col s6 m4 l4">
            <div class="row home-list">
                {% for series in home_series %}
                    <div class="card home z-depth-4">
                        <div class="card-image">
                            {% if series.cover %}
                                <img class="responsive-img" src="{{series.cover.url}}"/>
                            {% endif %}
                        </div>
                        <a class="green-text darken-3" href="{% url 'comics:series_detail' series.slug series.id %}">
                            <div class="card-content">
                                <h6>{{series.title}}<h6>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
            
    </div>

{% endblock body %}
    
