{% extends 'common/base.html' %}

{% block title %}
    Nako | Sign up
{% endblock title %}
    
{% block body %}
    <div class="container">
        <div class="container">
            <h2>Sign up</h2>
            <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {% include 'common/form.html' %}
            {% endfor %}
            <button type="submit" class="btn white-text black">Sign up</button>
            </form>
        </div>
    </div>
{% endblock body %}
    
