{% extends 'common/base.html' %}

{% block title %}
    Nako | {{ usr.profile.user.get_full_name }}
{% endblock title %}


{% block meta %}
    <meta property="og:url"                content="{{ request.build_absolute_uri }}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{{ usr.profile.user.get_full_name }} (@{{ usr.profile.user.username }})" />
    <meta property="og:description"        content="{{ usr.profile.bio }}" />
    <meta property="og:image"              content="{{ usr.profile.avatar.url }}" />
{% endblock meta %}
    

{% block body %}
    <div class="container">
        <div class="row profile white-text">
                
            {% include "userprofile/userprofile_info.html" %}

        </div>
        <div class="row timeline">
            <h5 style="color: #00bb00; padding-bottom:10px;">Series by {{ usr.profile.user.get_full_name }}</h5>
            {% for series in series %}
                {% include 'common/post.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock body %}
    
