{% extends 'home/base.html' %}

{% block title %}
    Nako | Home
{% endblock title %}
    

{% block body %}
    <h2>Welcome Home</h2>

    <div class="series">
        {% for s in series %}
            <div class="series-inner">
                <a href="{% url 'comics:series_detail' s.slug s.id %}">
                {% if s.cover %}
                    <img src="{{s.cover.url}}"/>
                {% endif %}
                <h6>{{s.title}}<h6>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock body %}
    
