{% extends 'common/base.html' %}

{% block title %}
    Comics | Home
{% endblock title %}

{% block meta %}
    <meta property="og:url"                content="{{ request.build_absolute_uri }}" />
    <meta property="og:type"               content="website" />
    
    {% for m in all_series %}
        <meta property="og:title"              content="{{ m.title }}" />
        <meta property="og:description"        content="{{ m.description }}" />
        <meta property="og:image"              content="{{ m.cover }}" />
    {% endfor %}
        
{% endblock meta %}

{% block body %}
    <div class="container">
        <a href="{% url "comics:comic-series-add" %}">
            <button class="btn white-text black">Add Series</button>
        </a>
        
        {% if all_series %}
            <h2>All comics titles</h2>
            <div class="col s6 m4 l4">
                <div class="row">
                    {% for c in all_series %}
                        <div class="card horizontal z-depth-4">
                            <div class="card-image">
                                <a class="green-text darken-3" href="{% url 'comics:series_detail' c.slug c.id %}">
                                    <img class="responsive-img" style="max-height:20em;" src="{{c.cover.url}}"/>
                                </a>
                            </div>
                            <div class="card-stacked">
                                <div class="card-action">
                                    <h5>
                                        <a class="green-text darken-3" href="{% url 'comics:series_detail' c.slug c.id %}">
                                            {{c.title}}
                                        </a>
                                    </h5>
                                </div>
                                <div class="card-content">
                                    <p class="minimize black-text">{{c.description}}</p>
                                    <script>
                                        $(function(){
                                        $('.minimize').succinct({
                                            size: 100
                                        });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>There are no comic books</p>
        {% endif %}
    </div>
{% endblock body %}
