{% extends 'home/base.html' %}

{% block title %}
    Comics | Home
{% endblock title %}

{% block meta %}
    <meta property="og:url"                content="{{ request.build_absolute_uri }}" />
    <meta property="og:type"               content="website" />
    
    {% for m in all_series %}
        <meta property="og:title"              content="{{ m.title }}" />
        <meta property="og:description"        content="{{ m.description }}" />
        <meta property="og:image"              content="{{ m.cover }}" />
    {% endfor %}
        
{% endblock meta %}

{% block body %}
    <div class="container">
        <a href="{% url "comics:comic-series-add" %}">
            <button class="btn white-text black">Add Series</button>
        </a>
        
        {% if all_series %}
            <h2>All comics titles</h2>
            <div class="col s6 m4 l4">
                {% for c in all_series %}
                    <div class="row">
                        <div class="card">
                            <div class="card-image">
                                <a class="white-text" href="{% url 'comics:series_detail' c.slug c.id %}">
                                    <img class="materialboxed" src="{{c.cover.url}}"/>
                                </a>
                            </div>
                            <div class="card-content">
                                <h5>
                                    <a class="white-text" href="{% url 'comics:series_detail' c.slug c.id %}">
                                        {{c.title}}
                                    </a>
                                </h5>
                                <p class="minimize black-text">{{c.description}}</p>
                                <script>
                                    $(function(){
                                    $('.minimize').succinct({
                                        size: 100
                                    });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>There are no comic books</p>
        {% endif %}
    </div>
{% endblock body %}
