{% extends 'home/base.html' %}

{% block title %}
    Comics | {{comic.issue_title}}-{{comic.issue}}
{% endblock title %}

{% block meta %}
    <meta property="og:url"                content="{{ request.build_absolute_uri }}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{{ comic.title }}" />
    <meta property="og:title"              content="{{ comic.artist }}" />
    <meta property="og:title"              content="{{ comic.user.get_full_name }}" />
    <meta property="og:description"        content="{{ comic.issue_description }}" />
    <meta property="og:image"              content="{{ comic.title.cover }}" />
{% endblock meta %}
    

{% block body %}
<div class="container">
    <img style="width:100%" src="{{comic.issue_cover.url}}"/>
    <p>
        <h3>{{comic.issue_title}} - <small>{{comic.issue}}</small></h3>
        <p>{{comic.title}}</p>
        <p>{{comic.issue_artist}}</p>
        <p>
            <a href="{% url 'home:userprofile' comic.user.username %}">
                @{{comic.user}}
            </a>
        </p>
        <p>{{comic.issue_description}}</p>
        
        {% if user.is_authenticated %}
            
            {% if user == comic.user %}
                <a href="{% url "comics:comic-issue-update" comic.issue_slug comic.id %}">
                    <button class="btn white-text black">Edit issue</button>
                </a>
                <!-- Delete -->
                <form action="{% url 'comics:comic-issue-delete' comic.issue_slug comic.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="comic_id" value="{{comic.issue_slug}} {{comic.id}}"/>
                    <button type="submit" class="btn white-text red">
                        Delete
                    </button>
                    <small>Delete forever</small>
                </form>
            {% endif %}
                
        {% endif %}
            
        <iframe src="{{comic.issue_file.url}}" style="width:100%; height:700px; margin-top: 10px;" frameborder="0"></iframe>
        <button class="btn white-text black">
            <a href="{% url 'comics:comment-add' comic.id %}">Comment</a>
        </button>
        <div class="">
            
            {% for comment in comments %}
                {{comment.user.username}}
                {{comment.text}}
            {% endfor %}
                
        </div>
    </p>
</div>
{% endblock body %}
    