{% extends 'common/base.html' %}

{% block title %}
    Comics | {{comic.issue_title}}-{{comic.issue}}
{% endblock title %}

{% block meta %}
    <meta property="og:url"                content="{{ request.build_absolute_uri }}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{{ comic.title }}" />
    <meta property="og:title"              content="{{ comic.artist }}" />
    <meta property="og:title"              content="{{ comic.user.get_full_name }}" />
    <meta property="og:description"        content="{{ comic.issue_description }}" />
    <meta property="og:image"              content="{{ comic.title.cover.url }}" />
{% endblock meta %}
    

{% block body %}
<div class="container">
    <img class="responsive-img" src="{{comic.issue_cover.url}}"/>
    <p>
        <h3>{{comic.issue_title}} - <small>{{comic.issue}}</small></h3>
        <p>{{comic.title}}</p>
        <p>{{comic.issue_artist}}</p>
        <p>
            <a href="{% url 'userprofile:user-profile' comic.user.username %}">
                @{{comic.user}}
            </a>
        </p>
        <p>{{comic.issue_description}}</p>
        
        {% if comic.issue_file %}
            <iframe src="{{comic.issue_file.url}}" style="width:100%; height:700px; margin-top: 10px;" frameborder="0"></iframe>
        {% endif %}
        
        {% if user.is_authenticated %}
            
            {% if user == comic.user %}
                <a href="{% url "comics:comic-issue-update" comic.title.slug comic.issue_slug comic.id %}">
                    <button class="btn white-text black">Edit issue</button>
                </a>
                <!-- Delete -->
                <form action="{% url 'comics:comic-issue-delete' comic.title.slug comic.issue_slug comic.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="comic_id" value="{{comic.title.slug}} {{comic.issue_slug}} {{comic.id}}"/>
                    <button type="submit" class="btn white-text red">
                        Delete
                    </button>
                    <small>Delete forever</small>
                </form>
            {% endif %}
                
        {% endif %}
            
        <a href="{% url 'comics:comment-add' comic.id %}" class="comment-btn">
            <button class="btn white-text black">
                Comment
            </button>
        </a>

        <div class="">
            {% for p in panels %}
                <img class="responsive-img" src="{{p.panel.url}}"/>
            {% endfor %}
        </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3 comments container" style="margin-top: 15px;">
            <h5>Comments</h5>
            {% for comment in comments %}
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <a href="{% url 'userprofile:user-profile' comment.user.username %}">
                                <img src="{{comment.user.profile.avatar.url}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                                @{{comment.user.username}}
                            </a>
                        </div>
                        <div class="col s10">
                            <span class="black-text">
                                {{comment.text}}
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </p>
</div>
{% endblock body %}
    