{% extends 'common/base.html' %}

{% block title %}
    Nako | Upload panels
{% endblock title %}

{% block body %}
    <div class="container">
        <form enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
        
            {{ form.as_p }}
        
            {{ issuepanel_form.management_form }}
            {% for form in issuepanel_form.forms %}
                {{ form.as_p }}
            {% endfor %}
        
            <input type="submit" value="Add Car" class="submit"/>
        </form>
    </div>
{% endblock body %}
    
