{% extends 'home/base.html' %}

{% block title %}
    Comics | {{series.title}}
{% endblock title %}

{% block meta %}
    <meta property="og:url"                content="{{ request.build_absolute_uri }}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{{ series.title }}" />
    <meta property="og:title"              content="{{ series.artist }}" />
    <meta property="og:title"              content="{{ series.user.get_full_name }}" />
    <meta property="og:description"        content="{{ series.description }}" />
    <meta property="og:image"              content="{{ series.cover.url }}" />
{% endblock meta %}
    
    
{% block body %}
    <div class="container">
        <img style="width:100%" src="{{series.cover.url}}"/>
        <p>
            <h2>{{series.title}}</h2>
            <p><em><b>Artist(s) : {{series.artist}}</b></em></p>
            <p>
                <a href="{% url 'home:userprofile' series.user.username %}">
                    @{{series.user}}
                </a>
            </p>
            <p>{{series.description}}</p>
            
            
            {% if user.is_authenticated %}
                
                {% if user == series.user %}
                    <a href="{% url "comics:comic-issue-add" %}">
                        <button class="btn white-text black">Add Issue</button>
                    </a>
                    <a href="{% url "comics:comic-series-update" series.slug series.id %}">
                        <button class="btn white-text black">Edit Series</button>
                    </a>
                    <!-- Delete -->
                    <form action="{% url 'comics:comic-series-delete' series.slug series.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="comic_id" value="{{series.slug}} {{series.id}}"/>
                        <button type="submit" class="btn white-text red darken-2">
                            Delete
                        </button>
                        <small>Delete forever</small>
                    </form>
                {% endif %}
                    
            {% endif %}
                
        </p>
        
        <div class="col s6 m4 l4">
            {% for i in series.comicissue_set.all %}
                <div class="row">
                    <div class="card">
                        <div class="card-image">
                            <a href="{% url 'comics:issue_detail' i.issue_slug i.id %}">
                                <img class="materialboxed" src="{{i.issue_cover.url}}"/>
                            </a>
                        </div>
                        <div class="card-content">
                            <p>
                                <a class="white-text" href="{% url 'comics:issue_detail' i.issue_slug i.id %}">
                                    {{i.issue_title}}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
    
