{% extends 'common/base.html' %}

{% block title %}
    Comics | {{series.title}}
{% endblock title %}

{% block meta %}
    <meta property="og:url"                content="{{ request.build_absolute_uri }}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{{ series.title }}" />
    <meta property="og:title"              content="{{ series.artist }}" />
    <meta property="og:title"              content="{{ series.user.get_full_name }}" />
    <meta property="og:description"        content="{{ series.description }}" />
    <meta property="og:image"              content="{{ series.cover.url }}" />
{% endblock meta %}
    
    
{% block body %}
    <div class="edit"></div>
    <div class="container">
        <img class="responsive-img" src="{{series.cover.url}}"/>
        <p>
            <h2>{{series.title}}</h2>
            <p><em><b>Artist(s) : {{series.artist}}</b></em></p>
            <p>
                <a href="{% url 'userprofile:user-profile' series.user.username %}">
                    @{{series.user}}
                </a>
            </p>
            <p>{{series.description}}</p>
            
            
            {% if user.is_authenticated %}
                
                {% if user == series.user %}
                    <a href="{% url "comics:comic-issue-add" series.id %}">
                        <button class="btn white-text black">Add Issue</button>
                    </a>
                    <a href="{% url "comics:comic-series-update" series.slug series.id %}">
                        <button class="btn white-text black">Edit Series</button>
                    </a>
                    <!-- Delete -->
                    <form action="{% url 'comics:comic-series-delete' series.slug series.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="comic_id" value="{{series.slug}} {{series.id}}"/>
                        <button type="submit" class="btn white-text red darken-2">
                            Delete
                        </button>
                        <small>Delete forever</small>
                    </form>
                {% endif %}
                    
            {% endif %}
        </p>
        
        <div class="" style="margin-top:30px;">
            <table class="bordered">
                <thead></thead>
                <tbody>
                    {% for issue in issues %}
                        <tr>
                            <td>
                                <a href="{% url 'comics:issue_detail' issue.title.slug issue.issue_slug issue.id %}">
                                    <img class="responsive-img" style="width:50px; height:50px;" src="{{issue.issue_cover.url}}"/>
                                </a>
                            </td>
                            <td>
                                <a class="" href="{% url 'comics:issue_detail' issue.title.slug issue.issue_slug issue.id %}">
                                    {{issue.title}} - {{issue.issue_title}}
                                </a>
                            </td>
                            <td>
                                {{issue.date_added}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}
    