{% load staticfiles %}

<footer class="page-footer" style="background-color: #00bb00;">
    <div class="container">
        <div class="row">
            <a href="/" class="brand-logo"><img class="logo" src="{% static 'images/nako_logo.svg' %}" alt="Logo"/></a>
            <p>Nako Comics</p>
            <p>Main Street, Gatundu township</p>
            <p>Kiambu County</p>
            <p>Kenya</p>
        </div>

        <div class="footer-copyright">
            <div class="container">
                2017 Nako Comics
            </div>
        </div>
    </div>
</footer>
