{% extends 'blog/blog_base.html' %}

{% block title %}
    Nako | {{post.title}}
{% endblock title %}

{% block meta %}
    <meta property="og:url"                content="{{ request.build_absolute_uri }}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{{ post.title }}" />
    <meta property="og:title"              content="{{ post.author.get_full_name }}" />
    <meta property="og:description"        content="{{ post.text }}" />

    {% if post.image %}
        <meta property="og:image"              content="{{ post.image.url }}" />
    {% endif %}

{% endblock meta %}

{% block body %}
    <div class="container">
        <h3>{{post.title}}</h3>
        <p>
            Post by:
            <a href="{% url 'userprofile:user-profile' post.author.username %}">
                @{{post.author}}
            </a>
        </p>
        {% if post.image %}
            <img class="responsive-img" src="{{post.image.url}}"/>
        {% endif %}
        
        <p>{{post.text}}</p>
        
        <div class="" style="margin-bottom:20px;">
            {% if user.is_authenticated %}
            
                {% if user == post.author %}
                    <a href="{% url "blog:post-update" post.slug post.id %}">
                        <button class="btn white-text black">Edit Post</button>
                    </a>
                    <!-- Delete -->
                    <form action="{% url 'blog:post-delete' post.slug post.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{post.slug}} {{post.id}}"/>
                        <button type="submit" class="btn white-text red darken-2">
                            Delete
                        </button>
                        <small>Delete forever</small>
                    </form>
                {% endif %}
                    
            {% endif %}
        </div>
            
    </div>
{% endblock body %}

{% block footer %}
    {% include 'footer/footer.html' %}
{% endblock footer %}
    
